# FooocusPlus requirements_versions.txt, applicable to all platforms
--extra-index-url https://pypi.ngc.nvidia.com

accelerate==0.32.1
aiohttp==3.12.15
albumentations==2.0.4
alembic==1.15.1
attrs==24.2.0
av==16.0.0
blake3==0.4.1
blend_modes==2.2.0
blind-watermark
certifi==2025.1.31
charset_normalizer==3.4.2
click==8.1.8
colour-science==0.4.6
comfy-aimdo==0.4.10
comfy-kitchen==0.2.10
comfyui-embedded-docs==0.5.5
comfyui-frontend-package==1.45.19
comfyui-workflow-templates==0.10.3
comfyui-workflow-templates-core==0.3.255
comfyui-workflow-templates-media-api==0.3.80
comfyui-workflow-templates-media-image==0.3.152
comfyui-workflow-templates-media-other==0.3.220
comfyui-workflow-templates-media-video==0.3.92
contourpy==1.3.2
cpm_kernels==1.0.11
cryptography==45.0.3
cuda-python==11.7.1
cython==3.0.12
diffusers==0.32.2
dill==0.4.0
download==0.3.5
einops==0.8.0
emoji==2.14.1
exceptiongroup==1.3.0
facexlib==0.3.0
fastapi==0.115.12
filelock==3.18.0
fonttools==4.58.1
fsspec==2025.5.1
ftfy==6.3.1
fvcore==0.1.5.post20221221
gguf==0.17.0
gradio==3.43.2
groundingdino-py==0.4.0
h11==0.16.0
httpcore==1.0.9
httpx==0.27.0
huggingface-hub>=0.29.3
idna==3.10
importlib_metadata==8.7.0
insightface==0.7.3
jinja2==3.1.6
joblib==1.5.1
jsonschema==4.24.0
jsonschema_specifications==2025.4.1
kornia==0.8.1
kornia_rs==0.1.9
lark-parser==0.12.0
lightning-utilities==0.14.2
llvmlite==0.44.0
loguru==0.7.2
lxml==4.9.3
Mako==1.3.5
MarkupSafe==2.0.0
matplotlib==3.10.3
mistune==3.1.3
multiprocess==0.70.18
narwhals==1.32.0
networkx==3.4.2
numba==0.61.0
numpy==1.26.4
omegaconf==2.3.0
onnx-graphsurgeon==0.3.25
onnx==1.12.0
onnxruntime-gpu==1.20.1
onnxruntime==1.20.1
open-clip-torch==2.32.0
open_clip_torch==2.32.0
opencv-contrib-python-headless==4.10.0.84
opencv-contrib-python==4.8.0.74
opencv-python-headless==4.9.0.80
opencv-python==4.7.0.72
orjson==3.10.13
packaging==24.1
pathos==0.3.3
peft==0.10.0
pillow==10.4.0
pixeloe==0.1.4
platformdirs==4.3.8
polygraphy==0.47.1
pox==0.3.6
ppft==1.7.7
protobuf==3.19.0
psutil==6.0.0
pycocotools==2.0.9
pydantic-core==2.33.0
pydantic-settings==2.3.0
pydantic==2.11.1
pymatting==1.1.14
pyparsing==3.2.3
pytz==2025.2
pyyaml==6.0.1
pyzbar==0.1.9
qrcode==8.2
rembg==2.0.69
reportlab==4.4.1
requests==2.32.3
rich==14.0.0
rpds-py==0.25.1
sacremoses==0.1.1
safetensors==0.4.3
scipy>=1.14.0
segment_anything==1.0
sentencepiece==0.2.0
setuptools==78.1.0
simpleeval==1.0.7
soupsieve==2.7
spandrel==0.4.1
SQLAlchemy>=2.0.0
stanza==1.10.1
starlette==0.46.2
svglib==1.5.1
sympy>=1.13.3
termcolor==3.1.0
tifffile==2025.5.10
timm==1.0.7
tokenizers>=0.13.3
torchmetrics==1.7.0
torchruntime==2.1.0
torchsde==0.2.6
tqdm==4.66.4
transformers==4.50.3
transparent-background==1.3.4
trimesh==4.6.6
typer==0.16.0
typer_config==1.4.2
typing_extensions==4.13.2
typing_inspection==0.4.1
tzdata==2025.2
ultralytics==8.3.98
urllib3==2.4.0
uvicorn==0.34.0
websocket-client==1.8.0
wget==3.2
yacs==0.1.8
yarl>=1.18.0
zipp==3.22.0
